.heading{
    text-align: center;
    font-weight: bold;
    margin-bottom: 70px;
    color: lightslategrey;
    font-size: 30px;
}
.text{
    color: fuchsia;
    font-weight: bold;
    font-size: 25px;
}


.container{
    width: 100%;
    text-align: center;
}
.Btn{
    width: 100px;
    margin: 10px 20px;
    padding: 10px 20px;
    color: aquamarine;
    font-size: 32px;
    background-color: black;
    
}
.btn{
  
    margin: 5px 10px;
    color: blueviolet;
    font-size: 26px;
   background-color: coral;

    
}