body{
    background-color: darkseagreen;
}
nav{
    background-color: deepskyblue;
    color: black;
    padding: 20px 50px;
    display: flex;
    
   
    /* justify-content: space-between; */
   

}
nav ul{
   display: flex;
   justify-content: space-around;

   
}
nav li{
    list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-left: 300px;
    
}
nav li a:hover{
    color: yellow;
    text-decoration: none;
}